<form action="" method="POST">
    <br>
    <div class="form-group">
        
        <label>Date</label>
        <input type="date" class="form-control" name="purchased_date" placeholder="YYYY-MM-DD" required="1">

    </div><br>
    
    <br><div class="form-group">
        <label>Item</label>
        <input type="text" class="form-control" name="item" placeholder="Item purchased" required="1">
    </div><br>

    <br><div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" placeholder="Description" required="1">
    </div><br>

    <br><div class="form-group">
        <label>Category</label>
        <input type="text" class="form-control" name="category" placeholder="category">
    </div><br>


    <br><div class="form-group">
        <label>Quantity</label>
        <input type="number" min="0" step="1"class="form-control" name="quantity" placeholder="quantity" required="1">
    </div><br>

    <br><div class="form-group">
        <label >Unit price {£}</label>
        <input type="number" min="0" step="0.01" data-number-to-fixed="2" class="form-control" name="unit_price" placeholder="£0.00" required="1">
    </div><br>

    <br><div class="form-group">
        <label >Amount {£}</label>
        <input type="number" min="0" step="0.01" data-number-to-fixed="2" class="form-control" name="amount" placeholder="£0.00" required="1">
    </div><br>

    <br><div class="form-group">
        <button class="btn btn-primary" type="submit"> Add Entry</button>

    </div><br>

    <br><div class="form-group">
        <a class="btn btn-primary" type="button" href="{{url_for('view_expense')}}" role="button">View Expense</a>

    </div><br>
</form>