{%extends 'base.html'%}
{% block content %}
    <h1>{% block title %} Add Expense {% endblock %}</h1>
    <h1> Please fill out the feedback form </h1>
    <br>
     <div class = 'form'>
        <form method = "POST" action="/addentry ">
            {{form.hidden_tag()}}
            {{ form.purchase_date.label }} {{ form.purchase_date }}
            <br>
            {{ form.item.label }} {{ form.item }}
            <br> 
            {{ form.description.label }} {{ form.description }}
            <br> 
            {{ form.category.label }} {{ form.category }}
            <br>
            {{ form.quantity.label }} {{ form.quantity }}
            <br> 
            {{ form.price.label }} {{ form.price }}
            <br> 
            {{ form.unit_price.label }} {{ form.unit_price }}
            <br>
            {{ form.amount.label }} {{ form.amount }}
            <br>
            {{ form.submit }} 
            br
             {{ message }}
        </form>

     </div>
       
{% endblock %}