{%extends 'base.html'%}
{% block content %}
    <h1>{% block title %} Expense Tracker {% endblock %}</h1>
    <strong><em>“Beware of little expenses; a small leak will sink a great ship.” ― Benjamin Franklin</em></strong>
    <br>



    <h1> What would you like to do?</h1>
    <form>
        
        <div class="form-group row">
          <div class="offset-4 col-8">
            <!-- <button name="submit" type="submit" class="btn btn-primary">Add Expense</button> -->
            <button  class="btn btn-primary">Add Expense</button>
            <button  class="btn btn-primary">View Expense</button>
          </div>
        </div>
      </form>
{% endblock %}