<html>
<body> 
<div class="container view">

    <div class="row">

        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>Expense <b>Manager</b> <button type="button" class="btn btn-success float-right"
                    data-toggle="modal" data-target="#mymodal"> Add Expense</button> </h2>

                <table class="table table-hover table-dark">
                    <tr>
                        <th>Date</th>
                  <th>Item</th>
                  <th>Description</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th>Unit Price (£)</th>
                  <th>Amount</th>
                  <th>Action</th>
                    </tr>

                    <tr>
                        <td>Testing</td>
                    <td>Testing</td>
                    <td>Testing</td>
                    <td>Testing</td>
                    <td>Testing</td>
    
 <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit_expense">Edit</a>
                        <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Delete Entry ?')" >Delete</a>
                    </td>
                    </tr>

                

                </table>

            </div>

<div id="mymodal" class="modal fade" role="dialog">

    <div class ="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title"> Add Expense</h4>

            </div>

            <div class ="modal-body">

                <form action="" method="POST">

                    <div class="form-group">
                        <label>Date:</label>
                        <input type="date" class="form-control" name="purchased_date" required="1">

                    </div>

                    <div class="form-group">
                        <label>Item</label>
                        <input type="text" class="
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"> Add Entry</button>
						
						
						
<div class="form-group">
                        <label>Quantity</label>
                        <input type="Integer" class="form-control" name="quantity" required="1">
                    </div>

                    <div class="form-group">
                        <label >Unit price {£}</label>
                        <input type="number" class="form-control" name="unit_price" required="1">
                    </div>

                    <div class="form-group">
                        <label >Amount</label>
                        <input type="number" class="form-control" name="amount" placeholder="£0.00" required="1">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"> Add Entry</button>

                    </div>
                </form>
            </div>
        </div>
 

        </div>
    </div>
</div>
						

                    </div>
                </form>
            </div>
        </div>
</body>
</html>						