{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %} 

<div 
    class="d-grid gap-3 col-2 ">
    <a class="btn btn-danger" type="button" href="{{url_for('add_expense')}}" role="button">Add Expense</a>
    
</div><hr>

<table class="table table-hover table-dark">


    <thead>
        <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Description</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Unit Price </th>
            <th>Amount</th>
            <th>Action</th> 
        </tr>
    </thead>

    <tbody>
        {% for no, expense in data %}
        <tr>
            
            <td>{{expense.purchase_date}}</td>
            <td>{{expense.item}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.category}}</td>
            <td>{{expense.quantity}}</td>
            <td>{{expense.unit_price}}</td>
            <td>{{expense.amount}}</td>
            <td> 
                <a href="update/{{expense.id}}" class="btn btn-warning btn-xs" onclick="return confirm('Update Expense? ')" >Edit</a>
                <a href="delete/{{expense.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Delete Expense ?')" >Delete</a>
            </td>  
        </tr>

        <p>
        
        
        
        {% endfor %}
    </tbody>
    

</table><hr>

<div 
    class="d-grid gap-3 col-1 ">
    <a class="btn btn-secondary"  type="button" href="{{url_for('home_page')}}" role="button">Home Page</a>
</div>

{% endblock %} 

