{% block title %} {% endblock %}

{% block content %} 

<table class="table table-hover table-dark">
    
    <tr>
        <th>Date</th>
        <th>Item</th>
        <th>Description</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Unit Price (£)</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>

    <tr>
        <td>Testing</td>
        <td>Testing</td>
        <td>Testing</td>
        <td>Testing</td>
        <td>Testing</td>
        <td>Testing</td>
        <td>Testing</td>
        <td>
            <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit_expense">Edit</a>
            <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Delete Entry ?')" >Delete</a>
        </td>

    </tr>


</table>

{% endblock %}